body{
	background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/03/76/26/0757be8daf9989f.jpg");
	background-repeat: no-repeat;
	background-size: 1400px 700px;
	font-family: 'Ubuntu', sans-serif;
}
label,h1,h4 {
	color: white;
	padding-left: -50px;
}
form{
	
}
.container {
	padding-top: 1px;
	padding-left: 450px;
	padding-right: 50px;
}
#contactForm{
	padding-top: 2px;
	padding-left: 100px;
	padding-right: 10px;
}
#form,h4{
	padding-top: 2px;
	padding-left: 100px;
}
button {
	padding-left: 200px;
}
.table {
	background: rgba(0,0,0,0.4);
}
#myInput {
	margin-left: 410px;
}
#logout {
	position: fixed;
	top:10px;
	right: 20px;
	padding-top: 3px;
}
#taskbutton {
	position: fixed;
	top:10px;
	right: 100px;
	padding-top: 3px;
}

